.info-san {
    align-items: center; 
}

.info-san-text {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex: 0 0 40%;
    max-width: 40%;
}
.info-san-text h2{
    font-size: 70px;
    font-weight: 600;
    color: rgb(8, 92, 39);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.info-san-con p{
    font-size: 20px;
    color: #575757;
}
.info-san-mt {
  gap: 20px;
}

.text-box-info {
  background-color: #d4f1c5; 
  padding: 15px 25px;
  border-radius: 15px;
  transform: skew(-15deg);
  box-shadow: 2px 2px 8px rgba(0,0,0,0.15);
  color: #054907;
  font-weight: 600;
  flex-shrink: 0; /* không co nhỏ */
}

.text-box-info > * {
  transform: skew(15deg); /* ngược chiều nghiêng của box để chữ không bị nghiêng */
}
.info-san-end p{
    font-size: 20px;
    color: #575757;
     flex: 0 0 70%;
    max-width: 80%;
}
.info-san-img img{
    width: 500px;
}
.info-san-border {
    border-bottom: 2px solid #dfdede;
    padding-bottom: 20px;
}