/* .loginSignup{
    width: 100%;
    height: 200vh;
    background: #ffffff;
    padding-top: 100px;
}
.loginSignup-container{
    background: #ffffff;
    margin:auto;
    padding: 40px 60px;
    border: 1px solid #cacaca;
    border-radius: 10px;
} */