.item{
    background-color: #fff;
}
.product-img {
  max-height: 250px;
  object-fit: contain;
}
.card-text {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.item:hover{
  transform: scale(1.05);
  transition: 0.6;
}
.card-img-top{
  max-height: 250px;
}